.question {
    display: inline-block;
    
    vertical-align: middle;
  }
  .tables{
    border-collapse: collapse;
  }
  tr, td{
    border: solid rgb(159, 169, 32) 1px;
    border-collapse: collapse;
  }